<% include partial/header.ejs %>
<form action='/addfriend' method='post'>
    <input placeholder="Enter Name" name="friends" >
    <button type="submit">Submit</button>
</form>

<% include partial/footer.ejs %>