
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
     <% include partial/header.ejs %>
        <h1>Home</h1>
        <% include partial/footer.ejs %>
    </body>
   
    <% for(var i = 0; i<friends.length; i++){%>
        <li><%=friends[i]%></li>
   <% } %>

   <a href="/addfriend">Add Friend</a>
</html>

