<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
    </body>
    <% for(var i = 0; i<friends.length; i++){%>
        <li><%=friends(i)%></li>
   <% } %>
</html>