<!DOCTYPE html>
<html>
<body>

<form action="/" method='post'>
Get Location: <input type="text" name="FirstName" value=""><br>
All Specialists: <input type="text" name="LastName" value=""><br>
<input type="submit" value="Submit" >
</form>



</body>
</html>
